<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>用户注册</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="./style.css"/>
    <script type="text/javascript" src="jquery-2.2.4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.bud label').click(function () {
                var radioId = $(this).attr('name');
                $('.bud label').removeAttr('class') && $(this).attr('class', 'checked').addClass("current");
                $('input[type="radio"]').removeAttr('checked') && $('#' + radioId).attr('checked', 'checked');
            });
        });
    </script>
    <script type="text/javascript">
        /*$(document).ready(function(){
         $("#click").click(function(){
         $("#succ").show()
         });

         })*/
    </script>

    <style type="text/css">
        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: #fff;
        }
    </style>
</head>
<body style=" background:#2CB8F3">
<include file="Common:common"/>
<div id="box">
    <div id="login">
        <div class="write">
            <form action="" method="post" id="form_id">
                <div class="gain">
                    <input type="text" placeholder="请输入您的手机号" value="" name="phone_number" class="phone"/>
                    <input type="button" value="获取验证码" class="code"/>
                </div>
                <div class="pass">
                    <input type="text" placeholder="请输入您的验证码" value=""/>
                </div>
                <div class="pw">
                    <input type="password" placeholder="请输入您的密码" value=""/>
                </div>
                <div class="pw">
                    <input type="password" placeholder="请确认您的密码" value=""/>
                </div>

                <div class="xuanze">选择角色</div>
                <div class="xuanze" style="margin-top:2%">
                    <img src="__PUBLIC__/Home/images/heng.png" width="252" height="1"/>
                </div>
                <div class="bud">
               <span>　
                   <input type="radio" id="nba" name="" value="0">
                   <label name="nba" for="" id=""></label>车主
               </span>
               <span>　　
                   <input type="radio" name="" value="1" id="wolail">
                   <label name="cba"></label>货主
               </span>　
               <span>
                   <input type="radio" name="" value="2">
                   <label name="cba"></label>信息部
               </span>
                </div>
                <input type="hidden" name="type" value="" id="typeVal">

                <div class="agree">
                    <label class="demo--label"><input class="demo--radio" type="checkbox" name="demo-checkbox1">
                        <span class="demo--checkbox demo--radioInput"></span>阅读并同意服务条款
                    </label>
                </div>

                <div class="enter" style="margin-top:2%" id="click"><input type="button" class="login" value="注册"/>
                </div>
            </form>
        </div>
    </div>
    <div id="succ">
        <div class="chenggong">
            <div class="phrase">
                <img src="__PUBLIC__/Home/images/chenggong.png" width="37" height="41"/>　注册成功！
            </div>
            <a href="{:U('Index/index')}">
                <div class="wancheng"><input type="button" value="完成并登录"/>
                </div>
            </a>
            <a href="#">
                <div class="geren"><input type="button" value="完成个人信息"/>
                </div>
            </a>
        </div>
    </div>

</div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        //alert($("input[name=type]").length);
        $('.enter').click(function () {
            if (!$(".demo--radio").prop("checked")) {
                tanchu('请阅读服务条款');
            }
            //else if(!$("input[name=type]").prop("checked"))
            else if (!$(".checked").siblings().val()) {
                tanchu("请选择角色");
            }
            else {
                var typeVal = $(".checked").siblings().val();
                $("#typeVal").val(typeVal);
                //$("#form_id").submit();
                url = "__CONTROLLER__/register_do";
                $.ajax({
                    type: "post",
                    url: url,
                    //data:{class_id:class_id},
                    success: function (data) {
                        if (data == 0) {
                            $("#succ").show();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("出现错误！！！");
                    }
                });
            }
        });
    });
</script>
